{% style %}
.site-password-bg{
min-height:100vh;
background: url({{section.settings.desktopImage | img_url:"master"}}) center no-repeat;
background-size: cover;  
}
@media only screen and (max-width:749px){
.site-password-bg{
background: url({{section.settings.mobImage | img_url:"master"}}) center no-repeat;
background-size: cover;  
}}
{% endstyle %}
<header class="page-width">
  <div class="d-flex alignCenter justifySB">
<div class='site-logo'><a href="javascript:void(0);">
{% render 'site-logo', color:'light' %}
</a></div>
<div class="shipping-password">
<ul  class="d-flex alignCenter justifySB">
  <li class="shipping-btn">
    <a class="display-xs-Regular decoration-none colorW upcase" href="javascript:void(0);">{{ section.settings.shippingHeading }}</a>
  </li>
<li class="password-btn">
    <a href="javascript:void(0);">{% render 'icon-padlock' %}</a>
  </li>
</ul>
</div>
</div>
</header>
<div class="shipping-drawer">
<div class="">
<div class="display-sm-Medium colorB upcase">{{ section.settings.shippingHeading }}</div>
  <button class="shipping-drawer-close"><svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M5.46967 5.96967C5.76256 5.67678 6.23744 5.67678 6.53033 5.96967L12 11.4393L17.4697 5.96967C17.7626 5.67678 18.2374 5.67678 18.5303 5.96967C18.8232 6.26256 18.8232 6.73744 18.5303 7.03033L13.0607 12.5L18.5303 17.9697C18.8232 18.2626 18.8232 18.7374 18.5303 19.0303C18.2374 19.3232 17.7626 19.3232 17.4697 19.0303L12 13.5607L6.53033 19.0303C6.23744 19.3232 5.76256 19.3232 5.46967 19.0303C5.17678 18.7374 5.17678 18.2626 5.46967 17.9697L10.9393 12.5L5.46967 7.03033C5.17678 6.73744 5.17678 6.26256 5.46967 5.96967Z" fill="#0F172A"/>
</svg>
</button>
<div class="display-xs-Regular colorB mt-24">
{{ section.settings.shippingDescription }}
</div>

<div class="storefront_password_wrapper">
<h2 class="display-sm-Medium colorB upcase " >
              {{ 'general.password_page.login_form_heading' | t }}
            </h2>
 {%- form 'storefront_password', class: 'password-form' -%}
              <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
                <input
                  type="password"
                  name="password"
                  id="Password"
            class="field__input p0 pb-8 colorB display-xs-Regular"
                  autocomplete="current-password"
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="PasswordLoginForm-password-error"
                  {%- endif -%}
                  placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                >
                <label class="field__label colorB display-xs-Regular" for="{{ 'general.password_page.login_form_password_label' | t }}">
                  {{- 'general.password_page.login_form_password_placeholder' | t -}}
                </label>
                {%- if form.errors -%}
                  <div id="PasswordLoginForm-password-error" role="status">
                    <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                    <span class="form__message">
                      {%- render 'icon-error' %}
                      {{ 'general.password_page.login_form_error' | t -}}
                    </span>
                  </div>
                {%- endif -%}
              </div>
              <button name="commit" class="newsletter-form__button display-xs-Medium upcase colorW bG-B" >
                {{ 'general.password_page.login_form_submit' | t }}
              </button>
            {%- endform -%}
</div>
</div>
  <div class="shipping-drawer-overlay">&nbsp;</div>
</div>
{% schema %}
{
"name": "Site password header",
"tag": "section",
"class": "section site-password-header",
"settings": [
{
"type":"text",
"id":"shippingHeading",
"label":"Shipping Heading",
"default":"Shipping Status"
},

{
"type":"image_picker",
"id":"desktopImage",
"label":"Desktop background"
},
  {
"type":"image_picker",
"id":"mobImage",
"label":"Mobile background"
},
  {
"type":"richtext",
"id":"shippingDescription",
"label":"Shipping Description"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
